<div id="<%= dom_id client %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Cpf:</strong>
    <%= client.cpf %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= client.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Zipcode:</strong>
    <%= client.zipcode %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Address:</strong>
    <%= client.address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Neighborhood:</strong>
    <%= client.neighborhood %>
  </div>
  <div>
    <strong class="block font-medium mb-1">City:</strong>
    <%= client.city %>
  </div>
  <div>
    <strong class="block font-medium mb-1">State:</strong>
    <%= client.state %>
  </div>
</div>
